* {
    box-sizing: border-box;
}

body {
    margin: 0;
    /* background: #e3eaef; */
    background-image: url(../images/Gemini_Generated_Image_45kbt345kbt345kb.png);
    background-size: cover;
    background-position-y: 25%;
    font-family: sans-serif;
}

/* Laboratoire */
.lab {
    width: 100%;
    max-height: 100vh;
    padding-top: 40px;
}

/* placards */
.placards {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    justify-self: center;
    width: 80%;

    gap: 4px;
    
}

.placard {
    display: flex;
    flex-direction: column;
    min-width: 30%;
    max-width: 40%;
    background: #ecf5ff;
    box-shadow: 15px 26px 8px 0px #9e9e9e;
    padding: 10px 7px 0 10px;
    cursor: pointer;
    transition: transform 0.3s;

    
    

}


.shelf {
    height: 80px;
    background: #8eadca;
    border-top: 15px inset #8fa4ba;
    border-right: 20px inset #8796a5;
    
    border-left: 15px outset #8796a5;
    margin-bottom: 18px;
    gap: 5px;
    display: flex;
    align-items: flex-end;
    
}



.slot{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: end;
    width: 48px;
    height: 70px;
    flex-shrink: 0;   /*le slot ne va pas rétrécir (devenir moins grand; va rester pareil meme si on prend l'element dedons)*/
    
}


.verre{
    width: 55px !important;
    height: 65px  !important;
}
.placard.zoomed{
    transform: scale(1.4);
    z-index: 2000;
}

.placard.zoomed .element {
    transform: scale(1.05);
    transition: transform 0.3s;
}
.placard.zoomed .element.selected{
    transform: scale(1.05) translateY(-8px);
    transition: transform 0.5s ease;
}

.placard.zoomed .search-bars{
    display: block;
}

.element.selected {
    transform: translateY(-8px);
    transition: transform 0.5s ease; 
}

.element {
    width: 48px;
    height: 70px;
    background: transparent;
    padding: 0;
    margin: 0;
    cursor: grab;
    position: absolute;
    transition: transform 0.3s ease;
}



.element:active{
    cursor: grabbing;
}



/* element qui bouge, ne zoome pas */
.element.dragging {
    transform: none !important;
}



.search-bars{
    /* align-self: center;
    opacity: 0;
    overflow: hidden;
    max-height: 0;
    padding-bottom: 0; */
    position: fixed;
    top: 250px;
    padding-left: 20px;
    display: none;
    z-index: 2000;
}



/* From Uiverse.io by satyamchaudharydev */ 
/* From uiverse.io by @satyamchaudharydev */
/* removing default style of button */

.form button {
    border: none;
    background: none;
    color: #8b8ba7;
}
/* styling of whole input container */
.form {
    --timing: 0.3s;
    --width-of-input: 300px;
    --height-of-input: 40px;
    --border-height: 2px;
    --input-bg: #fff;
    --border-color: #2f2ee9;
    --border-radius: 30px;
    --after-border-radius: 1px;
    position: relative;
    width: var(--width-of-input);
    height: var(--height-of-input);
    display: flex;
    align-items: center;
    padding-inline: 0.8em;
    border-radius: var(--border-radius);
    transition: border-radius 0.5s ease;
    background: var(--input-bg,#fff);
}
/* styling of Input */
.input {
    font-size: 0.8rem;
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
}
/* styling of animated border */
.form:before {
    content: "";
    position: absolute;
    background: var(--border-color);
    transform: scaleX(0);
    transform-origin: center;
    width: 100%;
    height: var(--border-height);
    left: 0;
    bottom: 0;
    border-radius: 1px;
    transition: transform var(--timing) ease;
}
/* Hover on Input */
.form:focus-within {
    border-radius: var(--after-border-radius);
}

input:focus {
    outline: none;
}
/* here is code of animated border */
.form:focus-within:before {
    transform: scale(1);
}
/* styling of close button */
/* == you can click the close button to remove text == */
.reset {
    border: none;
    background: none;
    opacity: 0;
    visibility: hidden;
}
/* close button shown when typing */
input:not(:placeholder-shown) ~ .reset {
    opacity: 1;
    visibility: visible;
}
/* sizing svg icons */
.form svg {
    width: 17px;
    margin-top: 3px;
}

.reset{
    cursor: pointer;
}






.table {
    position: relative;
    margin-top: 150px;
    width: 100%;
    height: 100px;
    background: #8b5a2b;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    background: linear-gradient(#ffffff, #dde5ef);
    border-top: 6px solid #c7d2df;
    border-bottom: 6px solid #c7d2df; 
    box-shadow: 6px 21px 38px 8px #b2b2b2; 
}





.description{
    position: absolute;
    opacity: 0;
    width: 100px;
    transition: opacity 0.2s ease;
    max-height: 150px;
    min-width: 130px;
    overflow-y: auto;
    word-break: break-word;
    scrollbar-width: none;
    pointer-events: visible;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid;
    color: rgb(0, 0, 0);
    padding: 5px 8px;
    border-radius: 5px;
    font-size: 13px;
    z-index: 2000;
}





/* BEFER */
.burner {
    position: absolute;
    right: 120px;
    top: 30px;
    width: 40px;
    height: 40px;
    background: #f0b400;
    border-radius: 50%;
}
.pieds{
    position: relative;
    display: flex;
    width: 100%;
    height: 260px;

    background: linear-gradient(#ffffff, #456488);
    border-top: 6px solid #c7d2df;
    z-index: 0;
}
.porte{
    width: 30%;
    position: relative;
    padding-top: 20px;
    border-left: 1px solid black;
}


.equipement{
    position: absolute;
    box-shadow: none !important;
    
    width: 500px !important;
    left: 0 !important;
    right: 0 !important;
    max-width: 100%;
}

.equipement {
    transform: none !important;
}


.equipe{
    width: 80px;
    height: 60px;

}


.placard.zoomed .equipe {
    transform: none !important;
}

.placard.zoomed .equipe.selected{
    transform:  translateY(-8px) !important;
    transition: transform 0.5s ease;
}




/* ROBINET */
#ouvrir{
    position: absolute;
    background: transparent;
    border: none;
    cursor: pointer;
    left: 39%;
    top: 55%;
    height: 20px;
    width: 70px;
}

/* Sink */
.sink {
    position: relative;
    left: 80px;
    top: -80%;
    padding: 0;
    border-radius: 6px;

    width: 310px;
    height: 210px;
}

.sink img{
    width: 100%;
    height: 100%;
}

.water {
    position: absolute;
    top: 31%;
    left: 38%;
    width: 5px;
    background: rgb(0, 128, 255);
    border-radius: 0 0 5px 5px;
    transition: height 0.7s ease;

}









/* PROF*/
.caution{
    display: flex;
    flex-direction: space-between;
    justify-self: end;
    margin-left: 20px;
}
.attention{
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 19px;
    max-height: 120px;
    padding: 10px;
    font-size: 15px;
    font-family: Georgia;
    color: rgb(34, 34, 34);
    overflow-y: auto;
    word-break: break-word;
    scrollbar-width: none;
    pointer-events: visible;
    background: linear-gradient(#ffffff, #cce4ff94);
}

.conseil{
    margin: 0;
}

/* .next-button{
    position: absolute;
    right: 1%;
    top: 110%;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: rgb(34, 34, 34);
} */


/* .next-button {
    position: absolute;
    right: 1%;
    top: 110%;
    font-size: 20px;
    background-color: white;
    color: black;
    width: 45px;
    height: 45px;
    opacity: 0.75;
    border: 1px solid #e7eae8;
    border-radius: 8px;
    cursor: pointer;
    animation: bounce_513 1s infinite;
}

@keyframes bounce_513 {
    0%,
        100% {
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }

    50% {
        transform: translateY(0);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
} */


.guide-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* From Uiverse.io by R5Program */ 
.next-button {
    font-size: 1.3em;
    height: 30px;
    width: 30px;
    cursor: pointer;
    
    /* border-radius: 50%; */
    /* background-color: white;
    border: 2px solid #0c0c0c;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2); */
    background: transparent;
    border: none;
    display: flex;
    position: relative;
    /* right: 10px;
    top: 107%; */
    transition: all 0.5s;
    justify-content: center;
    justify-self: end;
    align-items: center;
}
.next-button::after {
    position: absolute;
    width: auto;
    /* background-color: white; */
    font-size: 1em;
    box-sizing: border-box;
    padding: 10px 15px;
    /* border-radius: 25px; */
    top: -50px;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */
    transition: all 0.5s;
    transform: scale(0);
}

.next-button:hover {
    transform: translateX(3px);
    /* background-color: #0c0c0c; */
    color: rgb(104, 104, 104);
}
.next-button:hover::after {
    transform: scale(1);
}
.next-button:active {
    transform: translateX(-2px);
}



/* PREVENT BUTTON*/
.prevent-button {
    font-size: 1.3em;
    height: 30px;
    width: 30px;
    cursor: pointer;


    /* border-radius: 50%; */
    /* background-color: white;
    border: 2px solid #0c0c0c;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2); */
    background: transparent;
    border: none;
    display: flex;
    position: relative;
    /* right: 10px;
    top: 107%; */
    transition: all 0.5s;
    justify-content: center;
    justify-self: end;
    align-items: center;
}
.prevent-button::after {
    position: absolute;
    width: auto;
    /* background-color: white; */
    font-size: 1em;
    box-sizing: border-box;
    padding: 10px 15px;
    /* border-radius: 25px; */
    top: -50px;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */
    transition: all 0.5s;
    transform: scale(0);
}

.prevent-button:hover {
    transform: translateX(-3px);
    /* background-color: #0c0c0c; */
    color: rgb(104, 104, 104);
}
.prevent-button:hover::after {
    transform: scale(1);
}
.prevent-button:active {
    transform: translateX(2px);
}




.prof{
    justify-self: end;
    justify-content: end;
    height: 150px;
    width: 120px;
    margin-top: 40px;
}